$ico-layout:smart;
@import "ico/*.png"; 
$ico-sprite-dimensions: true;            
@include all-ico-sprites;

@import 'utils/functions';
@import 'base/reset';

@import 'utils/variables';
@import 'layout/grid';
@import 'utils/mixins';
@import 'base/typography';
@import 'base/base';





@import 'utils/helpers';

@import 'layout/navigation';
@import 'layout/header';
@import 'layout/footer';
@import 'layout/sidebar';
@import 'layout/forms';



@import 'components/buttons';



