@import "compass";
@import "susy";
@import 'photoshop-drop-shadow';
$susy:(
	container :1000px,
	columns: 12,
    
  
  debug: (
    image: show,
    color: rgba(#66f, .65),
    output : overlay
   
  )
  );

//@include layout(12 (80px 10px) static);
.wrap{
	@include container;
}
.content{	
	
    padding: 0 0 $footerH;
   
	}







