header {
	height: $headrH;
	background-color: $header-color;
	overflow: hidden;
	min-width: 986px;
	 .contacts{
		 display: inline-block;
		 float: right;
		 height: 60px;
		 line-height: 15px;
		 width: 342px;
		 #reg{
			 color: #000;
			 float: right;
			 b{
				 display: block;
			 }
		 }
		 a{
		   &:first-child{
			   position: relative;
			   top: 20px;
		   }
		 }
	 }
}


