header {
	height: $headrH;
	background-color: $header-color;
	
	.logo{		
	    text-indent: -9999px;
	     outline: none;	     

	}
	article{
		&:first-child{
			@include span(2);
		}
		&:last-child{
			@include span(10 last);
		}
	}
}