$footerH : 570px; /*Высота футтера*/
$headrH : 60px; /*Высота хедера*/
$base-font-size: 16px;
$base-font: "opensans-regular";
$base-font-color : #000;
$header-color : #000;
$footer-color : #070d21;
/*Цвет ссылок*/
$normal: #fff;

$button-padding: 20px 49px;
$button-font-size : $base-font-size;
$button-radius : 50px;

[class^="ico-"]{
	display: inline-block;
}


//Названия бэков
//Пример заполнения (key1: value1, key2: value2, key3: value3);
$name : ('3':'','4':'','6':'','9':'','10':'','footer':'','prog':'png')!default;