$footerH : 150px; /*Высота футтера*/
$headrH : 200px; /*Высота хедера*/
$base-font-size: 16px;
$base-line-height : 25px;
$base-font: Verdana, Geneva, sans-serif;
$base-font-color : #000;
$header-color : #000;
$footer-color : #903;
/*Цвет ссылок*/
$normal: #ddd; 
$hover : red;

[class^="ico-"]{
	display: inline-block;
}

$breakpoints: (
  'small':  767px,
  'medium': 992px,
  'large':  1200px
) !default;

//Названия бэков
//Пример заполнения (key1: value1, key2: value2, key3: value3);
$name : ('bg':'gif', 'colo':'' )!default;